<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title>Jazztown Shoe Site</title>
    </head>
    <body>
        <div class="container">
            <h1><a href ="/">Jazztown Shoe Conglomerate</a></h1>
            <h2>Store: {{store.getName}}</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                <h3>{{store.getName}} carries these hip products:</h3>
                {% if brands is not empty %}
                    <ul>
                    {% for brand in brands%}
                        <li> {{brand.getName}}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                </div>
                <div class="col-md-6">
                    <h3> Update this Store</h3>
                    <form  action="/update_store/{{store.getId}}" method="post">
                        <input type="hidden" name="_method" value="patch">

                        <label for="store_name">New Store Name</label>
                        <input type="text" name="store_name" value="">

                        <button type="submit" class="btn btn-warning" name="button">Change Name</button>
                    </form>

                    {% if all_brands is not empty %}
                        <h3> or add a current Brand to carry</h3>
                                <form  action="/store_carry_brand/{{store.getId}}" method="post">

                                    <select name="exist_brand" class="form-control author">
                                        {% for brand in all_brands %}
                                            <option value='{{brand.getId}}'> {{brand.getName}}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-info">Add Brand to this Store</button>
                                </form>
                    {% endif %}

                    <div>
                        <h3>Close the Shop</h3>
                        <form class="" action="/delete_store/{{store.getId}}" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" class="btn btn-sm btn-danger">Shut the Doors!</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>
